In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\priya\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\priya\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: joblib in c:\users\priya\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: tqdm in c:\users\priya\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\priya\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\priya\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.5)

In [2]:
import nltk
import pandas as pd
import numpy as np
import ast #why??->reason is below in data preprocessing step
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.stem.porter import PorterStemmer

In [3]:
#read the dataset
credits = pd.read_csv("credits.csv")
movies = pd.read_csv("movies.csv")

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
#merge the dataset
#since we have merege based on title so title will not com twice but both the dataframe have id column 
# so need to remove from one of them
movie = movies.merge(credits,on="title").drop("movie_id",axis=1)

In [7]:
movie.shape

(4809, 22)

In [8]:
movie.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  cast                  4809 non-null   object
 21  crew                  4809 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 864.1+ KB

In [10]:
#creating the final dataframe 
#removing the unwanted columns
movie = movie[["id","title","keywords","genres", "overview", "cast","crew"]]

In [11]:
movie.head()

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
movie.isnull().sum()

id          0
title       0
keywords    0
genres      0
overview    3
cast        0
crew        0
dtype: int64

In [13]:
#deleteing if any column is empty
#if present -> overview have NULL values
movie.dropna(inplace =True)

In [14]:
#checking any duplicate is present or not
movie.duplicated().sum() #->0 no duplicate is present

0

In [15]:
movie.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
#this is not going to work because type(movie.iloc[0].genres) -> string
# list = []
# for dict in movie.iloc[0].genres:
#     list.append(dict["name"])

In [17]:
#need to convert that thing into a list of dict
# import ast
def convert(obj):
    List = []
    for dict in ast.literal_eval(obj):
        List.append(dict["name"])
    return List

In [18]:
#checking the function
L = convert(movie.iloc[0].genres)       
print(L)

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [19]:
# movie["genres"].apply(convert) #->run this to see the output
movie["genres"] = movie["genres"].apply(convert)

In [20]:
movie.head() #->genre column has change

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
#have to do same for keywords
movie["keywords"] = movie["keywords"].apply(convert)

In [22]:
movie.head()

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def convertCast(obj):
    List = []
    for dict in ast.literal_eval(obj):
        List.append(dict["name"])
        if(len(List) == 5):
            break;
            
    return List

In [24]:
l = convertCast(movie.iloc[0].cast)

In [25]:
movie["cast"] = movie["cast"].apply(convertCast)

In [26]:
movie["cast"].values

array([list(['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver', 'Stephen Lang', 'Michelle Rodriguez']),
       list(['Johnny Depp', 'Orlando Bloom', 'Keira Knightley', 'Stellan Skarsgård', 'Chow Yun-fat']),
       list(['Daniel Craig', 'Christoph Waltz', 'Léa Seydoux', 'Ralph Fiennes', 'Monica Bellucci']),
       ...,
       list(['Eric Mabius', 'Kristin Booth', 'Crystal Lowe', 'Geoff Gustafson', 'Benjamin Hollingsworth']),
       list(['Daniel Henney', 'Eliza Coupe', 'Bill Paxton', 'Alan Ruck', 'Zhu Shimao']),
       list(['Drew Barrymore', 'Brian Herzlinger', 'Corey Feldman', 'Eric Roberts', 'Griffin Dunne'])],
      dtype=object)

In [27]:
def fetchDirector(obj):
    List = []
    for dict in ast.literal_eval(obj):
        if(dict["job"] == "Director"):
            List.append(dict["name"])
            break
    return List

In [28]:
print(fetchDirector(movie.iloc[0].crew))

['James Cameron']

In [29]:
movie["crew"] = movie["crew"].apply(fetchDirector)

In [30]:
movie.head()

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]",A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [31]:
#converting the overview sentences into list too.
movie["overview"] = movie["overview"].apply(lambda x : x.split())

In [32]:
movie.head()

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]

In [33]:
#removed space between word to stop make confusion
movie["genres"] = movie["genres"].apply(lambda x : [i.replace(" ","") for i in x])
movie["keywords"] = movie["keywords"].apply(lambda x : [i.replace(" ","") for i in x])
movie["cast"] = movie["cast"].apply(lambda x : [i.replace(" ","") for i in x])
movie["crew"] = movie["crew"].apply(lambda x : [i.replace(" ","") for i in x])

In [34]:
movie.head()

,id,title,keywords,genres,overview,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [35]:
# concatenation of keywords,genres,overview,cast,crew
movie["tag"] = movie["overview"] + movie["genres"] + movie["keywords"] + movie["cast"] + movie["crew"]

In [36]:
new_movie = movie[["id","title","tag"]]

In [37]:
new_movie.head()

,id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [38]:
#need to do stemming to decrease the features
ps = PorterStemmer()
def stem(tag_list):
    list = []
    for tag in tag_list:
        tag = tag.lower() #-> making the word in lower case 
        list.append(ps.stem(tag)) #->stemming the each word
    return " ".join(list) #-> making the sentence from the list becasuse to vectorese that thing

In [39]:
print(stem(new_movie["tag"][0]))

in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez jamescameron

In [40]:
new_movie["tag"] = new_movie["tag"].apply(stem)

C:\Users\priya\AppData\Local\Temp\ipykernel_9668\4102460092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movie["tag"] = new_movie["tag"].apply(stem)

In [41]:
new_movie.head()

,id,title,tag
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [42]:
#need to convert tag into vector to match the similarity because we don't have any way to match them using text
print(new_movie["tag"][0])

in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang michellerodriguez jamescameron

In [43]:
#also removing the stop words
cv = CountVectorizer(max_features = 5000, stop_words="english")#->used only first 5000 thousand word order is based on accurancy

In [44]:
vector_tag = cv.fit_transform(new_movie["tag"]).toarray()
vector_tag

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [45]:
cv.vocabulary_ #-> these words are used to make features

{'century': 740,
 'marin': 2827,
 'dispatch': 1296,
 'moon': 3055,
 'uniqu': 4687,
 'mission': 3025,
 'becom': 440,
 'torn': 4562,
 'follow': 1723,
 'order': 3262,
 'protect': 3547,
 'alien': 158,
 'action': 75,
 'adventur': 102,
 'fantasi': 1633,
 'sciencefict': 3946,
 'cultureclash': 1090,
 'futur': 1806,
 'societi': 4164,
 'spacetravel': 4208,
 'futurist': 1808,
 'romanc': 3824,
 'space': 4202,
 'tribe': 4612,
 'alienplanet': 161,
 'soldier': 4171,
 'battl': 423,
 '3d': 44,
 'samworthington': 3907,
 'zoesaldana': 4994,
 'sigourneyweav': 4091,
 'michellerodriguez': 2972,
 'jamescameron': 2316,
 'captain': 678,
 'long': 2719,
 'believ': 453,
 'dead': 1161,
 'ha': 1957,
 'come': 924,
 'life': 2669,
 'head': 2013,
 'edg': 1421,
 'earth': 1409,
 'turner': 4634,
 'elizabeth': 1445,
 'noth': 3203,
 'quit': 3584,
 'ocean': 3224,
 'drugabus': 1371,
 'exoticisland': 1580,
 'loveofone': 2751,
 'slif': 4144,
 'traitor': 4592,
 'shipwreck': 4069,
 'ship': 4068,
 'allianc': 169,
 'afterlif': 114,
 'fighter': 1682,
 'pirat': 3413,
 'aftercreditssting': 113,
 'johnnydepp': 2440,
 'orlandobloom': 3269,
 'keiraknightley': 2516,
 'stellanskarsgård': 4267,
 'chowyun': 808,
 'fat': 1644,
 'messag': 2938,
 'bond': 544,
 'past': 3337,
 'send': 4005,
 'trail': 4589,
 'uncov': 4662,
 'sinist': 4113,
 'organization': 3266,
 'polit': 3447,
 'forc': 1731,
 'secret': 3977,
 'servic': 4024,
 'alive': 166,
 'deceit': 1176,
 'reveal': 3744,
 'terribl': 4468,
 'truth': 4628,
 'crime': 1063,
 'spi': 4223,
 'basedonnovel': 412,
 'secretag': 3978,
 'sequel': 4014,
 'britishsecretservic': 598,
 'danielcraig': 1116,
 'christophwaltz': 838,
 'ralphfienn': 3610,
 'death': 1167,
 'district': 1299,
 'attorney': 348,
 'harvey': 2000,
 'batman': 422,
 'assum': 335,
 'respons': 3728,
 'late': 2606,
 'reput': 3714,
 'subsequ': 4337,
 'hunt': 2148,
 'gotham': 1893,
 'citi': 852,
 'polic': 3440,
 'year': 4973,
 'later': 2607,
 'encount': 1484,
 'mysteri': 3112,
 'kyle': 2583,
 'villain': 4780,
 'new': 3160,
 'terrorist': 4473,
 'leader': 2624,
 'overwhelm': 3289,
 'dark': 1128,
 'knight': 2563,
 'resurfac': 3735,
 'brand': 569,
 'enemy': 1492,
 'drama': 1352,
 'thriller': 4506,
 'dccomic': 1159,
 'crimefight': 1064,
 'secretident': 3980,
 'burglar': 638,
 'gothamc': 1894,
 'vigilant': 4776,
 'cover': 1039,
 'superhero': 4360,
 'terror': 4472,
 'destruct': 1233,
 'imax': 2189,
 'flood': 1713,
 'christianbal': 821,
 'michaelcain': 2952,
 'garyoldman': 1831,
 'annehathaway': 245,
 'tomhardi': 4548,
 'christophernolan': 835,
 'john': 2424,
 'carter': 703,
 'war': 4835,
 'militari': 2996,
 'inexplic': 2221,
 'transport': 4597,
 'exot': 1579,
 'planet': 3420,
 'reluctantli': 3693,
 'embroil': 1461,
 'epic': 1516,
 'conflict': 967,
 'world': 4947,
 'brink': 595,
 'hi': 2050,
 'human': 2138,
 'realiz': 3640,
 'surviv': 4387,
 'peopl': 3371,
 'rest': 3729,
 'hands': 1971,
 'mar': 2817,
 'medallion': 2904,
 'princess': 3515,
 'steampunk': 4264,
 'martian': 2851,
 'escap': 1528,
 'superhumanstrength': 4362,
 '19thcenturi': 34,
 'samanthamorton': 3898,
 'willemdafo': 4903,
 'thomashadenchurch': 4498,
 'seemingli': 3995,
 'spider': 4224,
 'man': 2802,
 'goe': 1879,
 'includ': 2206,
 'shape': 4052,
 'shift': 4067,
 'superpow': 4367,
 'alter': 177,
 'ego': 1431,
 'peter': 3384,
 'parker': 3322,
 'deal': 1164,
 'eddi': 1418,
 'caught': 724,
 'love': 2748,
 'dualident': 1382,
 'amnesia': 201,
 'forgiv': 1742,
 'wretch': 4962,
 'deathofafriend': 1168,
 'sand': 3909,
 'hostil': 2121,
 'marvelcom': 2859,
 'reveng': 3747,
 'tobeymaguir': 4537,
 'kirstendunst': 2557,
 'jamesfranco': 2320,
 'tophergrac': 4560,
 'samraimi': 3901,
 'kingdom': 2554,
 'bandit': 388,
 'hide': 2052,
 'tower': 4574,
 'taken': 4419,
 'hostag': 2119,
 'beauti': 433,
 'bound': 555,
 'teen': 4445,
 '70': 49,
 'feet': 1662,
 'golden': 1881,
 'hair': 1960,
 'look': 2722,
 'ticket': 4516,
 'lock': 2709,
 'away': 367,
 'years': 4975,
 'strike': 4317,
 'handsom': 1972,
 'thief': 4492,
 'unlik': 4694,
 'duo': 1388,
 'set': 4027,
 'pack': 3296,
 'complet': 949,
 'super': 4359,
 'cop': 1007,
 'gang': 1824,
 'pub': 3558,
 'anim': 232,
 'famili': 1625,
 'magic': 2786,
 'hors': 2114,
 'fairytal': 1615,
 'music': 3102,
 'duringcreditssting': 1390,
 'mandymoor': 2804,
 'ronperlman': 3834,
 'toni': 4553,
 'stark': 4256,
 'tri': 4609,
 'program': 3534,
 'thing': 4494,
 'awri': 369,
 'hero': 2045,
 'ultim': 4654,
 'test': 4476,
 'fate': 1646,
 'hang': 1974,
 'aveng': 361,
 'stop': 4296,
 'plans': 3422,
 'soon': 4184,
 'unexpect': 4675,
 'way': 4857,
 'global': 1874,
 'adventure': 103,
 'basedoncomicbook': 410,
 'vision': 4799,
 'marvelcinematicunivers': 2858,
 'robertdowneyjr': 3798,
 'chrishemsworth': 813,
 'markruffalo': 2833,
 'chrisevan': 812,
 'scarlettjohansson': 3936,
 'harri': 1991,
 'begin': 449,
 'discov': 1285,
 'old': 3238,
 'book': 547,
 'mark': 2831,
 'properti': 3541,
 'half': 1963,
 'blood': 525,
 'prince': 3514,
 'learn': 2627,
 'lord': 2727,
 'witch': 4925,
 'broom': 607,
 'teenagecrush': 4447,
 'werewolf': 4874,
 'danielradcliff': 1118,
 'rupertgrint': 3863,
 'emmawatson': 1473,
 'michaelgambon': 2958,
 'fear': 1654,
 'god': 1878,
 'lik': 2677,
 'left': 2633,
 'city': 854,
 'modern': 3042,
 'day': 1155,
 'wrestl': 4960,
 'sort': 4190,
 'realli': 3641,
 'superman': 4363,
 'threat': 4503,
 'quickli': 3581,
 'mankind': 2810,
 'greater': 1912,
 'danger': 1113,
 'known': 2568,
 'benaffleck': 459,
 'amyadam': 207,
 'jesseeisenberg': 2384,
 'zacksnyd': 4988,
 'return': 3741,
 'allow': 171,
 'walk': 4824,
 'free': 1779,
 'wa': 4814,
 'abandon': 54,
 'plot': 3431,
 'million': 2999,
 'kill': 2543,
 'chang': 751,
 'face': 1607,
 'forever': 1739,
 'rid': 3765,
 'steel': 4265,
 'savingtheworld': 3927,
 'kevinspacey': 2531,
 'katebosworth': 2500,
 'jamesmarsden': 2325,
 'parkerposey': 3323,
 'bryansing': 622,
 'continu': 994,
 'jame': 2313,
 'casino': 709,
 'betray': 478,
 'woman': 4929,
 '007': 1,
 'fight': 1681,
 'urg': 4716,
 'make': 2794,
 'latest': 2608,
 'pursu': 3571,
 'determin': 1237,
 'interrog': 2262,
 'mr': 3090,
 'white': 4889,
 'organ': 3265,
 'blackmail': 515,
 'far': 1636,
 'complex': 950,
 'anyon': 271,
 'imagined': 2188,
 'undercov': 4664,
 'judidench': 2472,
 'marcforst': 2818,
 'jack': 2299,
 'work': 4942,
 'debt': 1171,
 'jones': 2453,
 'attempt': 344,
 'avoid': 363,
 'etern': 1538,
 'fortunetel': 1749,
 'monster': 3051,
 'daughter': 1135,
 'billnighi': 495,
 'texa': 4477,
 'ranger': 3616,
 'chase': 773,
 'outlaw': 3283,
 'led': 2630,
 'ambush': 192,
 'survivor': 4390,
 'american': 194,
 'indian': 2214,
 'nurs': 3215,
 'health': 2016,
 'don': 1327,
 'mask': 2864,
 'ride': 3767,
 'silver': 4094,
 'team': 4439,
 'bring': 594,
 'justice': 2489,
 'western': 4881,
 'partner': 3330,
 'lawyer': 2618,
 'train': 4590,
 'armiehamm': 301,
 'helenabonhamcart': 2036,
 'young': 4979,
 'boy': 562,
 'extraordinari': 1598,
 'power': 3474,
 'thi': 4491,
 'journey': 2467,
 'came': 659,
 'sent': 4010,
 'emerg': 1462,
 'save': 3926,
 'symbol': 4413,
 'hope': 2105,
 'superhuman': 4361,
 'alieninvas': 159,
 'reboot': 3650,
 'michaelshannon': 2967,
 'kevincostn': 2525,
 'dianelan': 1251,
 'incred': 2209,
 'lion': 2687,
 'luci': 2761,
 'susan': 4392,
 'narnia': 3123,
 'aid': 128,
 'princ': 3513,
 'threaten': 4504,
 'evil': 1560,
 'king': 2553,
 'help': 2041,
 'color': 919,
 'cast': 710,
 'characters': 761,
 'clan': 862,
 'embark': 1459,
 'quest': 3578,
 'ensur': 1507,
 'right': 3771,
 'heir': 2031,
 'fictionalplac': 1677,
 'brothersisterrelationship': 612,
 'faith': 1616,
 'uncl': 4659,
 'fantasyworld': 1635,
 'enemi': 1490,
 'safeti': 3885,
 'nick': 3178,
 'director': 1275,
 'intern': 2259,
 'agenc': 119,
 'need': 3143,
 'pull': 3563,
 'disaster': 1283,
 'span': 4210,
 'globe': 1875,
 'dare': 1127,
 'recruit': 3661,
 'effort': 1429,
 'begins': 450,
 'newyork': 3173,
 'shield': 4066,
 'cross': 1074,
 'path': 3339,
 'sure': 4376,
 'ruthless': 3872,
 'artist': 317,
 'use': 4719,
 'fabl': 1605,
 'youth': 4984,
 'aboard': 59,
 'queen': 3575,
 'anne': 243,
 'revenge': 3748,
 'formid': 1744,
 'doesn': 1317,
 'know': 2566,
 'sea': 3964,
 'mutini': 3110,
 'sword': 4407,
 'sail': 3889,
 'duke': 1386,
 'mermaid': 2936,
 'penélopecruz': 3370,
 'ianmcshan': 2162,
 'geoffreyrush': 1848,
 'agent': 122,
 'smith': 4151,
 'tommi': 4549,
 'lee': 2631,
 'time': 4523,
 'seen': 3996,
 '15': 8,
 'men': 2924,
 'black': 513,
 'aliens': 162,
 'stake': 4248,
 'travel': 4601,
 'univers': 4689,
 'told': 4543,
 'themselv': 4488,
 'josh': 2460,
 'agency': 120,
 'humankind': 2141,
 'comedi': 927,
 'timetravel': 4526,
 'willsmith': 4911,
 'tommyleejon': 4550,
 'joshbrolin': 2461,
 'emmathompson': 1472,
 'barrysonnenfeld': 406,
 'immedi': 2190,
 'event': 1551,
 'desol': 1224,
 'dwarv': 1395,
 'defend': 1187,
 'mountain': 3080,
 'treasur': 4603,
 'claim': 858,
 'ruin': 3856,
 'elv': 1457,
 'meanwhil': 2900,
 'armi': 300,
 'orc': 3261,
 'march': 2819,
 'fuel': 1797,
 'rise': 3779,
 'middle': 2980,
 'fall': 1618,
 'corrupt': 1016,
 'dragon': 1351,
 'swordandsorceri': 4408,
 'ianmckellen': 2161,
 'peterjackson': 3386,
 'outcast': 3281,
 'high': 2053,
 'parent': 3316,
 'leav': 2629,
 'rais': 3607,
 'ben': 458,
 'aunt': 354,
 'like': 2678,
 'teenagers': 4450,
 'figur': 1683,
 'got': 1892,
 'person': 3378,
 'today': 4539,
 'belong': 456,
 'father': 1647,
 'understand': 4670,
 'parents': 3317,
 'disappear': 1280,
 'lead': 2623,
 'lab': 2585,
 'dr': 1348,
 'collis': 916,
 'cours': 1033,
 'choic': 804,
 'destini': 1229,
 'lossoffath': 2735,
 'emmaston': 1471,
 'rhysifan': 3754,
 'denisleari': 1202,
 'campbellscott': 667,
 'robin': 3806,
 'happen': 1977,
 'die': 1258,
 'robert': 3795,
 'promis': 3538,
 'identity': 2170,
 'widow': 4893,
 'draw': 1354,
 'town': 4575,
 'sheriff': 4063,
 'archer': 290,
 'middleag': 2981,
 'mediev': 2908,
 'russellcrow': 3868,
 'cateblanchett': 716,
 'maxvonsydow': 2889,
 'williamhurt': 4908,
 'markstrong': 2834,
 'ridleyscott': 3768,
 'success': 4342,
 'mountains': 3081,
 'gain': 1817,
 'ring': 3774,
 'gold': 1880,
 'wizard': 4927,
 'shock': 4070,
 'orphan': 3271,
 'trade': 4581,
 'carefre': 689,
 'exist': 1575,
 'roam': 3788,
 'hall': 1964,
 'jordan': 2456,
 'colleg': 913,
 'otherworldli': 3278,
 'north': 3199,
 'unawar': 4658,
 'destiny': 1230,
 'england': 1497,
 'experi': 1584,
 'basedonyoungadultnovel': 419,
 'nicolekidman': 3182,
 'samelliott': 3899,
 'chrisweitz': 839,
 'york': 4977,
 'ambiti': 190,
 'movi': 3085,
 'produc': 3527,
 'hire': 2071,
 'crew': 1061,
 'skull': 4130,
 'island': 2290,
 'kong': 2569,
 'giant': 1862,
 'ape': 276,
 'smitten': 4152,
 'screenplay': 3959,
 'filmmak': 1687,
 'filmproduc': 1688,
 'dinosaur': 1271,
 'naomiwatt': 3121,
 'jackblack': 2301,
 'adrienbrodi': 97,
 'rose': 3843,
 'tell': 4459,
 'stori': 4299,
 'lizzi': 2701,
 'lewi': 2659,
 'bobbi': 535,
 'april': 286,
 'titan': 4535,
 'board': 531,
 'depart': 1210,
 'upper': 4709,
 'class': 865,
 'passeng': 3335,
 'mother': 3070,
 'ruth': 3871,
 'fiancé': 1675,
 'drifter': 1363,
 'best': 473,
 'friend': 1786,
 'win': 4913,
 'game': 1821,
 'explain': 1589,
 'voyag': 4812,
 '20': 35,
 'panic': 3309,
 'disast': 1282,
 '1910': 15,
 'katewinslet': 2503,
 'leonardodicaprio': 2648,
 'francesfish': 1759,
 'kathyb': 2509,
 'age': 117,
 'collect': 911,
 'govern': 1895,
 'pass': 3334,
 'act': 74,
 'design': 1222,
 'polar': 3439,
 'caus': 725,
 'faction': 1610,
 'iron': 2287,
 'america': 193,
 'civilwar': 857,
 'anthonymacki': 262,
 'beam': 428,
 'radio': 3599,
 'signal': 4090,
 'form': 1743,
 'sever': 4035,
 'craft': 1047,
 'water': 4855,
 'hawaii': 2009,
 'lieuten': 2666,
 'alex': 149,
 'hopper': 2108,
 'weapon': 4862,
 'offic': 3231,
 'assign': 331,
 'paul': 3350,
 'engag': 1495,
 'unimagin': 4685,
 'strength': 4313,
 'live': 2696,
 'potenti': 3470,
 'brother': 609,
 'admir': 92,
 'shane': 4050,
 'expect': 1581,
 'navi': 3135,
 'hongkong': 2099,
 'soccer': 4162,
 'scientist': 3948,
 'peterberg': 3385,
 'park': 3321,
 'featur': 1657,
 'fulli': 1800,
 'theme': 4487,
 'origin': 3268,
 'dna': 1311,
 'suspens': 4395,
 'amusementpark': 205,
 'animalattack': 233,
 'animalhorror': 234,
 'chrispratt': 817,
 'brycedallashoward': 623,
 'irrfankhan': 2288,
 'vincentd': 4783,
 'onofrio': 3251,
 'grave': 1910,
 'wrong': 4967,
 'attack': 342,
 'reloc': 3691,
 'author': 358,
 'posit': 3464,
 'challeng': 746,
 'intellig': 2254,
 'secur': 3990,
 'insid': 2240,
 'alli': 168,
 'trust': 4627,
 'shadow': 4044,
 'onli': 3249,
 'field': 1678,
 'eve': 1550,
 'lethal': 2655,
 'hidden': 2051,
 'motiv': 3075,
 'sociopath': 4166,
 'killer': 2545,
 'javierbardem': 2350,
 'major': 2792,
 'ident': 2169,
 'crisis': 1070,
 'burn': 640,
 'decid': 1178,
 'suffer': 4348,
 'wake': 4823,
 'doc': 1312,
 'feel': 1661,
 'mari': 2822,
 'jane': 2336,
 'girl': 1866,
 'sinc': 4105,
 'childhood': 789,
 'doctor': 1313,
 'supervillain': 4369,
 'alfredmolina': 152,
 'apart': 273,
 'start': 4257,
 'odyssey': 3229,
 'rebuild': 3651,
 'gwynethpaltrow': 1954,
 'doncheadl': 1332,
 'guypearc': 1951,
 'rebeccahal': 3646,
 'alice': 156,
 'individu': 2217,
 '19': 14,
 'english': 1498,
 'party': 3333,
 'crowd': 1075,
 'consid': 980,
 'marriag': 2839,
 'hole': 2082,
 'garden': 1827,
 'spot': 4234,
 'unusu': 4704,
 'rabbit': 3585,
 'arriv': 310,
 'strang': 4306,
 'surreal': 4384,
 'place': 3416,
 'nightmar': 3188,
 'child': 786,
 'talk': 4422,
 'animals': 235,
 'alic': 155,
 'reason': 3644,
 'conquer': 976,
 'horrif': 2111,
 'restor': 3732,
 'throne': 4507,
 'timburton': 4522,
 'cure': 1093,
 'treat': 4605,
 'line': 2684,
 'drawn': 1355,
 'band': 387,
 'mutant': 3108,
 'beast': 431,
 'hughjackman': 2135,
 'halleberri': 1965,
 'patrickstewart': 3345,
 'famkejanssen': 1629,
 'brettratn': 582,
 'relationship': 3682,
 'mike': 2988,
 'dure': 1389,
 'friends': 1788,
 'bestfriend': 474,
 'scari': 3935,
 'billycryst': 501,
 'johngoodman': 2429,
 'stevebuscemi': 4277,
 'helenmirren': 2038,
 'sam': 3896,
 'normal': 3198,
 'mind': 3003,
 'target': 4428,
 'drag': 1350,
 'egypt': 1432,
 'sun': 4357,
 'chao': 755,
 'artifact': 314,
 'transform': 4594,
 'tank': 4425,
 'robot': 3810,
 'shialabeouf': 4065,
 'meganfox': 2912,
 'tyresegibson': 4650,
 'michaelbay': 2950,
 'pick': 3404,
 'vanish': 4738,
 'group': 1930,
 'businessman': 645,
 'push': 3573,
 'boundari': 556,
 'technolog': 4442,
 'control': 997,
 'ancient': 211,
 'menac': 2925,
 'markwahlberg': 2835,
 'stanleytucci': 4253,
 'oscar': 3274,
 'small': 4147,
 'tim': 4520,
 'circu': 849,
 'whisk': 4887,
 'kansa': 2493,
 'land': 2593,
 'oz': 3294,
 'inhabit': 2229,
 'great': 1911,
 'clutch': 894,
 'lost': 2741,
 'milakuni': 2992,
 'rachelweisz': 3593,
 'michellewilliam': 2974,
 'zachbraff': 4986,
 'bad': 379,
 'guy': 1950,
 'spend': 4221,
 'loves': 2753,
 'school': 3942,
 'graduat': 1903,
 'stay': 4262,
 'clue': 892,
 'obsess': 3218,
 'jamiefoxx': 2334,
 'tech': 4441,
 'son': 4181,
 'kevin': 2523,
 'investig': 2275,
 'dictat': 1255,
 'real': 3636,
 'artificialintellig': 316,
 'dystopia': 1403,
 'comput': 954,
 'decept': 1177,
 'duel': 1385,
 'motorcycl': 3078,
 'jeffbridg': 2359,
 'oliviawild': 3243,
 'star': 4254,
 'race': 3586,
 'car': 682,
 'lightn': 2676,
 'pal': 3306,
 'compet': 946,
 'grand': 1904,
 'road': 3785,
 'championship': 748,
 'rocki': 3816,
 'intrigu': 2268,
 'carrac': 699,
 'anthropomorph': 263,
 'owenwilson': 3290,
 'emilymortim': 1467,
 'johnturturro': 2445,
 'centuries': 739,
 'warrior': 4848,
 'green': 1918,
 'corp': 1012,
 'intergalact': 2258,
 'wear': 4864,
 'grant': 1909,
 'destroy': 1231,
 'balanc': 383,
 'universe': 4690,
 'lie': 2665,
 'hand': 1969,
 'ryanreynold': 3876,
 'petersarsgaard': 3387,
 'timrobbin': 4530,
 'martincampbel': 2853,
 'andy': 219,
 'toy': 4577,
 'haven': 2007,
 'play': 3425,
 'andi': 215,
 'college': 914,
 'accident': 66,
 'nefari': 3144,
 'care': 687,
 'center': 735,
 'togeth': 4541,
 'home': 2087,
 'toycomestolif': 4578,
 'tomhank': 4547,
 'timallen': 4521,
 'joancusack': 2411,
 'michaelkeaton': 2961,
 'grown': 1934,
 'post': 3467,
 'apocalypt': 278,
 'connor': 975,
 'resist': 3720,
 'increasingli': 2208,
 'domin': 1324,
 'marcu': 2821,
 'wright': 4963,
 'confus': 969,
 'foe': 1719,
 'propheci': 3542,
 'sanfrancisco': 3911,
 'cyborg': 1101,
 'killerrobot': 2546,
 'gasstat': 1833,
 'losangel': 2728,
 'antonyelchin': 270,
 'shaw': 4059,
 'seek': 3994,
 'speed': 4219,
 'vindiesel': 4785,
 'paulwalk': 3360,
 'dwaynejohnson': 1396,
 'jameswan': 2329,
 'unit': 4688,
 'nation': 3130,
 'lane': 2595,
 'content': 992,
 'plagu': 3417,
 'infect': 2224,
 'turn': 4632,
 'popul': 3454,
 'rampag': 3611,
 'zombies': 4996,
 'bare': 398,
 'chaos': 756,
 'persuad': 3379,
 'disease': 1288,
 'peril': 3375,
 'trek': 4608,
 'brave': 570,
 'odd': 3225,
 'answer': 256,
 'befor': 446,
 'civil': 855,
 'horror': 2113,
 'apocalyps': 277,
 'zombi': 4995,
 'bradpitt': 567,
 'speci': 4214,
 'period': 3376,
 'join': 2446,
 'younger': 4981,
 'future': 1807,
 '1970': 24,
 'storm': 4301,
 'jamesmcavoy': 2326,
 'michaelfassbend': 2957,
 'jenniferlawr': 2371,
 'enterpris': 1510,
 'unstopp': 4702,
 'everyth': 1558,
 'stand': 4252,
 'state': 4258,
 'score': 3949,
 'kirk': 2556,
 'manhunt': 2806,
 'captur': 680,
 'mass': 2866,
 'destruction': 1234,
 'friendship': 1789,
 'sacrific': 3880,
 'spacecraft': 4203,
 'spaceopera': 4206,
 'chrispin': 816,
 'karlurban': 2496,
 'simonpegg': 4098,
 'unwittingli': 4707,
 'open': 3253,
 'fearsom': 1656,
 'unleash': 4693,
 'strive': 4321,
 'reclaim': 3655,
 ...}

In [46]:
len(cv.vocabulary_) #->length of the vocabulary

5000

In [47]:
similarity = cosine_similarity(vector_tag)

In [48]:
similarity

array([[1.        , 0.08006408, 0.08492078, ..., 0.04484485, 0.        ,
        0.        ],
       [0.08006408, 1.        , 0.05892557, ..., 0.023338  , 0.        ,
        0.02512595],
       [0.08492078, 0.05892557, 1.        , ..., 0.02475369, 0.        ,
        0.        ],
       ...,
       [0.04484485, 0.023338  , 0.02475369, ..., 1.        , 0.04174829,
        0.04222003],
       [0.        , 0.        , 0.        , ..., 0.04174829, 1.        ,
        0.08989331],
       [0.        , 0.02512595, 0.        , ..., 0.04222003, 0.08989331,
        1.        ]])

In [49]:
new_movie[new_movie["title"] == "The Dark Knight Rises"].index[0]

3

In [96]:
#function to recommmand top 5 similar movies
def recommended(movie):
    movie_index = new_movie[new_movie["title"] == movie].index[0]
    vector = similarity[movie_index]
    distances = sorted(list(enumerate(vector)),reverse=True,key = lambda x: x[1])[1:6]
    for i in distances:
#         print(i)
        print(new_movie.iloc[i[0]].title)

In [97]:
recommended("The Dark Knight Rises")

The Dark Knight
Batman Begins
Batman Returns
Batman
Batman Forever

In [84]:
import pickle

In [94]:
pickle.dump(new_movie.to_dict(),open("movie_dict.pkl","wb"))

In [95]:
pickle.dump(similarity,open("similarity.pkl","wb"))